<h1><%= "Hello, #{@user.name}." %> </h1>

  <% if @user.site_admin? %>
    <p>this will include a link to site- possibly iterating over site for tombstone info?</p>
  <% else %>
    <h2>Here is your Research Gallery.</h2>
  <% end %>
