/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /*/////// BACKGROUNDS ////////*/

 /*img.background {
   position: fixed;
   width: 100%;
   background-size: cover;
 }*/
 body {
   background-image: url(tiffanybackground.jpeg);
   background-size: cover;
 }

 #navbar {
   top: 5;
   width: 100%;
   font-family: 'Corben', cursive;
 }

 #navbar.navbar-header {
   display: flex;
   justify-content: flex-end;
 }

.p {
    font-family: 'EB Garamond', serif;
  }

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    line-height: 0;
  }

  .clear {
    clear:both;
  }

  .wrapper {
  width: 960px;
  margin: 0 auto;
}

.site_container {
  border-radius: 25px;
  background-color: rgb(188, 170, 184);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Corben', cursive;
}

.info {
  border-radius: 25px;
  background-color: rgb(188, 170, 184);
  padding: 20px;
  display: inline-block;
  width: 95%;
  font-family: 'Corben', cursive;
}
