<h3>Edit Your Site:</h3>


<<<<<<< HEAD
    <%= form_for @site, url: sites_path, html: { multipart: true } do |f| %>
=======
>>>>>>> 60ec49cea0ad77e9f4876d77c344c38d4b9fe977

<%= render partial: 'form', locals: {site: @site, current_user: current_user} %>
