<h3>Create a New Site:</h3>

<% if @site.errors.any? %>
  <div id="error_explanation">
    <h2> Your site was not added. </h2>
    <ul>
    <% @site.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= render partial: 'form', locals: {site: @site, current_user: current_user} %>
